@model CCSB_Groepje5.Models.ViewModels.LoginViewModel
@foreach (var user in ViewBag.User)
{
<div class="container my-4">
    <h1 class="pb-4">
        Gegevens
    </h1>
    <h4>
        Hallo @user.FirstName
    </h4>

    <h6>Voornaam: @user.FirstName</h6>


    @if (user.Middlename != null)
    {

<h6>Tussenvoegsel: @user.Middlename</h6>


}

<h6>Achternaam: @user.LastName</h6>


<h6>Telefoonnummer: @user.PhoneNumber</h6>


<h6>Geboortedatum: @user.Birthdate.ToShortDateString()</h6>


<h6>Email: @user.Email</h6>


<h6>Adres: @user.Adress</h6>


<h6>Postcode: @user.Postalcode</h6>


<h6>Woonplaats: @user.City</h6>


<h6>Bankrekening nummer:</h6>
<h6>Om uw rekeningnummer in te zien moet u contact opnemen met de eigenaar.</h6>
</div>
}